<ion-header [translucent]="true" >
  <ion-list-header color="primary">
    <ion-label class="ion-text-center">InstantsGram</ion-label>
  </ion-list-header>


<ion-col >
  <div class="ion-text-start">
    <h3>Share your momenets</h3>
   
  </div>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/plage (2).jpeg" />
    <ion-card-header>
      
      <ion-card-subtitle>DESTINATION FLORIDA,us</ion-card-subtitle>
      <ion-card-title>Miami Beach</ion-card-title>
      
    </ion-card-header>
    

    <!-- <ion-button fill="solid"></ion-button> -->

    <ion-toolbar>
      
          <ion-icon name="arrow-redo-circle-outline" slot="end"></ion-icon>
          <ion-buttons slot="end">
              <ion-button>Voir</ion-button>
          </ion-buttons>
    </ion-toolbar>
  
    <!-- <ion-card-content>
      rfor iorirof orjjorih ozrrifhr nozrfiz oh orffir orhjfor oro ofori oifhi orr go oifg ofhgçze 'fod sâzeboâncndo '.
    </ion-card-content> -->
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/camping.jpeg" />
    <ion-card-header>
      
      <ion-card-subtitle>DESTINATION FLORIDA,us</ion-card-subtitle>
      <ion-card-title>Miami Forest</ion-card-title>
    </ion-card-header>
  
    <!-- <ion-card-content>
      rfor iorirof orjjorih ozrrifhr nozrfiz oh orffir orhjfor oro ofori oifhi orr go oifg ofhgçze 'fod sâzeboâncndo '.
    </ion-card-content> -->
  </ion-card>
</ion-col>

  <ion-toolbar >
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  >
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
